<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0
                              http://maven.apache.org/xsd/settings-1.2.0.xsd">

  <servers>
    <server>
      <id>nexus-releases</id>
      <username>admin</username>
      <password><![CDATA[Cessvop@96]]></password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>admin</username>
      <password><![CDATA[Cessvop@96]]></password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>artifactory</id>

      <repositories>
        <repository>
          <id>nexus-releases</id>
          <name>Nexus Release Repository</name>
          <url>http://184.72.189.173:8081/repository/FavCess/</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>

        <repository>
          <id>nexus-snapshots</id>
          <name>Nexus Snapshot Repository</name>
          <url>http://184.72.189.173:8081/repository/FavCess2/</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>nexus-snapshots</id>
          <name>Nexus Snapshot Repository</name>
          <url>http://184.72.189.173:8081/repository/FavCess2/</url>
        </pluginRepository>
      </pluginRepositories>

    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>

</settings>
